<div class="todo-list mat-elevation-z4" style="padding: 24px; max-width: 800px; margin: 32px auto;">
  <h2 mat-typography class="mat-headline">To Do List</h2>

  <mat-list>
    <mat-list-item *ngFor="let item of toDo$ | async" class="todo-item">
      <div style="display: flex; align-items: center; width: 100%;">
        <mat-checkbox
          [checked]="item.isCompleted"
          (change)="toggleComplete(item)"
          style="margin-right: 16px;"
          color="primary">
        </mat-checkbox>

        <div class="todo-content" style="flex: 1;">
          <span matLine class="mat-title" style="margin: 0;">
            {{ item.title }}
          </span>
          <span matLine class="mat-body-2" style="margin: 4px 0 0 0;">
            {{ item.description }}
          </span>
          <span matLine class="mat-caption" style="color: #888;">
            Created: {{ item.createdDate }}
          </span>
        </div>

        <button mat-icon-button color="warn" (click)="deleteToDo(item.id)" aria-label="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-list>

  <mat-divider style="margin: 24px 0;"></mat-divider>

  <app-add-todo></app-add-todo>
</div>
